* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 5%;
  width: 95%;
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 20px;
  padding-left: 20px;
  height: 100px;
}

@import url("https://use.typekit.net/hkh4mcd.css");
